/*#############################################################################################*/
/* CORE OVERRIDES
/*#############################################################################################*/

@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url(../Fonts/PressStart2PRegular.otf) format("truetype");
}

* {
  font-family: "Press Start 2P";
}