{% extends "main/base.html.twig" %}

{% block content %}
	{% apply markdown_to_html %}
    ## Templates
  {% endapply %}
  <div class="u-row u-row--gutter">
    <div class="u-col u-width--1of2">
      {% include "main/card-template.html.twig" with {'image': '/images/card-template-jessie.jpg', 'badge': 'SERIE RPG', 'title': 'Jessie', 'version': '1.0.0', 'description': 'Scène de navigation scriptable en vue isometrique', 'link': '/templates-jessie'} %}
    </div>
    <div class="u-col u-width--1of2">
      {% include "main/card-template.html.twig" with {'image': '/images/card-template-luna.jpg', 'badge': 'SERIE RPG', 'title': 'Luna', 'version': '1.0.0', description: 'Scène de navigation scriptable en vue de haut', 'link': '/templates-luna'} %}
    </div>
    <div class="u-col u-width--1of2">
      {% include "main/card-template.html.twig" with {'image': '/images/card-template-thunar.jpg', 'badge': 'SERIE RPG', 'title': 'Thunar', 'version': '1.0.0', description: 'Scène de navigation scriptable en vue trois dimensions pré-calculé', 'link': '/templates-thunar'} %}
    </div>
    <div class="u-col u-width--1of2">
      {% include "main/card-template.html.twig" with {'image': '/images/card-template-odin.jpg', 'badge': 'SERIE RPG', 'title': 'Odin', 'version': '1.0.0', description: 'Coeur d\'un jeu de role avec menu principaux et combat tour par tour', 'link': '/templates-odin'} %}
    </div>
    <div class="u-col u-width--1of2">
      {% include "main/card-template.html.twig" with {'image': '/images/card-template-sai.jpg', 'badge': 'SERIE CCG', 'title': 'Sai', 'version': '1.0.0', description: 'Jeu de carte à collectionner', 'link': '/templates-sai'} %}
    </div>
    <div class="u-col u-width--1of2">
      {% include "main/card-template.html.twig" with {'image': '/images/card-template-edgar.jpg', 'badge': 'SERIE VN', 'title': 'Edgar', 'version': '1.0.0', description: 'Jeu textuel alias visual novel', 'link': '/templates-edgar'} %}
    </div>
  </div>
{% endblock %}