/**********************/
/** CORE **************/
/**********************/

html {
  font-size: 14px;
}

body {
  font-weight: 300;
  background: #e7e7e7cc;
  font-family: Verdana, Tahoma, Arial, sans-serif;

}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: auto;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

code {
  background-color: #565656;
  color: #fff;
  display: block;
  padding: 5px;
}

h3 {
  font-size: 1.3em;
  margin: 0 0 10px 0;
}

a {
  text-decoration: none;
  color: #286ea0;
}

a:hover {
  text-decoration: underline;
  color: #286ea0;
}

a img {
  border: 0;
}

p {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1rem;
}

:lang(fr)>q {
  quotes: "\00AB""\00BB""\201C""\201D";
}

:lang(de)>q {
  quotes: "\201E""\201C""\2018""\2019";
}

:lang(de)>q {
  quotes: "\00BB""\00AB""\203A""\2039";
}

:lang(ja)>q {
  quotes: "\300C""\300D""\300E""\300F";
}

q {
  quotes: "“""”""‘""’";
}

q::before {
  content: "\201C";
  content: open-quote;
}

q::after {
  content: "\201D";
  content: close-quote;
}

q q::before {
  content: "\2018";
  content: open-quote;
}

q q::after {
  content: "\2019";
  content: close-quote;
}

blockquote {
  quotes: "“" "”";
}

blockquote p {
  text-indent: -0.41em;
}

blockquote p::before {
  content: "“";
  content: open-quote;
}

blockquote p::after {
  content: "”";
  content: close-quote;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

blockquote q::before {
  content: "\201C";
  content: open-quote;
}

blockquote q::after {
  content: "\201D";
  content: close-quote;
}

.quote-src {
  display: block;
}

.quote-src:before {
  content: "\2014";
}

/**********************/
/** BADGE *************/
/**********************/
.badge {
  display: inline-block;
  padding: 0.25rem 0.4rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.badge--cat {
  color: #fff;
  background: #ee0979;
  text-transform: uppercase;
}

/**********************/
/** BUTTON ************/
/**********************/
.button {
  user-select: none;
  box-sizing: border-box;
  display: inline-block;
  background: #FF2449;
  color: white;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
  text-shadow: 0 1px 0 #c3223e;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px rgb(255 255 255 / 21%);
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  height: 35px;
  min-width: 75px;
}

.button--block {
  display: block;
}

.button--disabled {
  cursor: default;
  pointer-events: none !important;
  opacity: 0.7 !important;
  filter: alpha(opacity=70%) !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.button--download,
.button--download:hover,
.button--download:active {
  background-color: #f6cf06;
  color: #312901;
  text-shadow: 0 1px 0px transparent;
}

/**********************/
/** CARD **************/
/**********************/
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f4f4f4;
  background-clip: border-box;
}

.card-header {
  position: relative;
  padding: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-header-img-top {
  flex-shrink: 0;
  width: 100%;
}

.card-header .badge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.5rem;
}

.card-body:hover {
  text-decoration: none;
  background-color: #e7e7e7;
}

.card-body-title {
  display: block;
  font-weight: bold;
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.2;
}

.card-body-subtitle {
  font-size: .9rem;
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-body-text {
  position: relative;
  font-size: .8rem;
  margin-top: 0.5rem;
  cursor: default;
  min-height: 40px;
  max-height: 40px;
}

.card-body-text:last-child {
  margin-bottom: 0;
}

.card-footer {
  padding: 0;
  border-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e7e7e7;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-size: .8rem;
  cursor: default;
}

.card-footer-btn {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  color: #7a7a7a;
}

.card-footer-btn:hover {
  text-decoration: none;
  color: #000;
}

/**********************/
/** MODULE ************/
/**********************/
.module {
  position: relative;
  background-clip: padding-box;
  line-height: 1.5rem;
  background: #f4f4f4;
}

.module-header,
.module-flex-header {
  padding: 1rem;
  padding-bottom: 0.5rem;
  margin: 0;
  margin-bottom: 0.5rem;
  background-clip: border-box;
  color: #000;
}

.module-header-title,
.module-flex-header-title {
  display: inline-block;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
}

.module-content,
.module-flex-content {
  position: relative;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #66757f;
}

.module-footer,
.module-flex-footer {
  margin-top: 1rem;
  font-size: 0.75em;
  color: #9cb6c7;
}

.module-flex {
  padding: 1rem;
  line-height: 1rem;
  border: 1px solid;
}

.module-content .list-group-item {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #dbdbdd;
}

.module-content .list-group-item:last-child {
  border-bottom: 0;
}

/**********************/
/** MENU **************/
/**********************/
.menu {
  width: 150px;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 0.6em;
}

.menu ul {
  list-style: none;
  width: 150px;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 1.1em;
}

.menu li {
  margin-bottom: 4px;
}

.menu li a {
  font-weight: bold;
  text-decoration: none;
  color: #505050;
  display: block;
  padding: 6px 10px;
  font-size: 1rem;
  background: #f4f4f4;
  border-left: 4px solid #cccccc;
}

.menu li a:hover,
.menu li a.active {
  background: #eaeaea;
  color: #000000;
  border-left: 4px solid #000000;
}

/**********************/
/** ANNOUNCE **********/
/**********************/
.announce {
  margin: 10px 0 10px 0;
  padding: 10px;
  width: 130px;
  color: #505050;
  background-color: #f4f4f4;
  line-height: 1.3em;
}

.announce p {
  margin: 0;
}

/**********************/
/** STATS *************/
/**********************/
.stats>ul {
  padding: 0;
  list-style: none;
  margin: 0.5rem 0 0 0;
}

.stats li {
  display: flex;
}

.stats li span {
  display: block;
  margin-right: auto;
}

.stats>ul>li.divider {
  font-size: 0;
  border-bottom: 1px solid #dbdbdd;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/**********************/
/** WORDS *************/
/**********************/
.words {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.word-item {
  display: inline-block;
  padding-right: 5px;
}

.word-link::after {
  content: ","" ";
}

.word-item:last-of-type .word-link::after {
  content: "";
}

/**********************/
/** BUY ***************/
/**********************/
.buy .button {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.buy-message {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.buy-money {
  font-weight: bold;
  font-size: 120%;
  margin-right: 0.3rem;
}

/**********************/
/** FOOTER ************/
/**********************/
.footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 4px solid #f0f0f0;
  width: 760px;
  text-align: center;
  color: #808080;
  font-size: 0.9em;
}

.footer a {
  color: #808080;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/**********************/
/** MAIN **************/
/**********************/
.main-wrap {
  background: #ffffff;
  color: #303030;
  margin: 0 auto;
  width: 760px;
  padding: 30px;
}

.main-logo {
  margin: 0 0 30px 0;
  border: 0;
}

.main-content {
  padding-left: 20px;
  flex: 1;
}

.main-content h2 {
  font-size: 1.2em;
  letter-spacing: 0.5;
  margin: 0;
  margin-bottom: 1rem;
}

.main-blockquote {
  margin-left: auto;
  text-align:right;
}

.main-blockquote p {
  font-size: 2rem;
}

/**********************/
/** PROJECT **********/
/**********************/
.project-wrap {
  background: #ffffff;
  color: #303030;
  margin: 0 auto;
  width: 760px;
  padding: 30px;
}

.project-banner {
  width: 100%;
  display: block;
}

.project-return {
  display: block;
  margin-top: 10px;
}

.project-closeup {
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
}

/**********************/
/** DOWNLOAD **********/
/**********************/

.download {
  background-color: #f4f4f4;
}

.download-head {
  display: flex;
  justify-content: space-between;
  background-color: #cccccc;
  padding: 5px 15px;
}

.download-head-name {
  font-weight: bold;
}

.download-head-version {
  font-style: italic;
}

.download-body {
  padding: 5px 15px;
}

.download-body-link {
  display: flex;
  justify-content: end;
}