{% extends "base.html.twig" %}

{% block content %}
<h2>Téléchargements</h2>
<div class="download u-margin--bottom">
  <div class="download-head">
    <div class="download-head-name">engine</div>
    <div class="download-head-version">Version 1.1.7</div>
  </div>
  <div class="download-body">
    <div class="download-body-description">Moteur de jeux vidéo 2D/3D basé sur les technologies web</div>
    <a href="https://github.com/GAME-WEB-ENGINE/gwe/archive/refs/heads/master.zip"
      class="download-body-link">Télécharger</a>
  </div>
</div>
<div class="download u-margin--bottom">
  <div class="download-head">
    <div class="download-head-name">addon-arch</div>
    <div class="download-head-version">Version 1.0.0</div>
  </div>
  <div class="download-body">
    <div class="download-body-description">Vous souhaitez peut-être développer avec une architecture normalisée ? Grâce
      à ce petit module, vous avez le choix entre trois architectures différentes.</div>
    <a href="https://github.com/GAME-WEB-ENGINE/gwe-addon-arch/archive/refs/heads/master.zip"
      class="download-body-link">Télécharger</a>
  </div>
</div>
<div class="download u-margin--bottom">
  <div class="download-head">
    <div class="download-head-name">blender-exporter</div>
    <div class="download-head-version">Version 1.0.0</div>
  </div>
  <div class="download-body">
    <div class="download-body-description">Extension Blender qui permet d'exporter vos modèles 3D dans les formats JAM,
      JSM et JWM !</div>
    <a href="https://github.com/GAME-WEB-ENGINE/gwe-tool-exporter/blob/master/build/GWEExporter.zip"
      class="download-body-link">Télécharger</a>
  </div>
</div>
{% endblock %}