{% extends "base.html.twig" %}

{% block content %}
	<h2>Commencer</h2>
	{% apply markdown_to_html %}
    Pour commencer un nouveau projet deux solutions s'offre à vous.   
    Vous pouvez télécharger le boilerplate [ici](https://github.com/ra1jin/gwe-template-boilerplate) ou créer votre projet
    de zéro en suivant les étapes suivantes.

    <figure class="u-margin--bottom">
      <img src="/images/code_term.png" alt="Trulli" style="width:100%">
      <figcaption>Initialiser votre projet node</figcaption>
    </figure>

    <figure class="u-margin--bottom">
      <img src="/images/code_folders.png" alt="Trulli" style="width:100%">
      <figcaption>Créer l'arborescence ci-dessus</figcaption>
    </figure>

    <figure class="u-margin--bottom">
      <img src="/images/code_main.png" alt="Trulli" style="width:100%">
      <figcaption>Contenu du fichier main.js (point d'entré electron)</figcaption>
    </figure>

    <figure class="u-margin--bottom">
      <img src="/images/code_index.png" alt="Trulli" style="width:100%">
      <figcaption>Contenu du fichier index.html</figcaption>
    </figure>

    <figure class="u-margin--bottom">
      <img src="/images/code_app.png" alt="Trulli" style="width:100%">
      <figcaption>Contenu du fichier app.js</figcaption>
    </figure>

    <figure class="u-margin--bottom">
      <img src="/images/code_main_screen.png" alt="Trulli" style="width:100%">
      <figcaption>Contenu du fichier main_screen.js</figcaption>
    </figure>

    Félicitation, vous avez créer votre premier projet gwe !
	{% endapply %}
{% endblock %}
