{% extends "base.html.twig" %}

{% block content %}
  <h2>A propos</h2>
	{% apply markdown_to_html %}
    GWE est un moteur de jeux vidéo orienté **trois-dimensions** basé sur les **technologies du web**.
    Il s'agit d'un moteur minimaliste conçu pour créer des projets de **Demake Playstation 1**,
    ou bien de jeux **Neo-PS1** (jeux modernes, mais utilisant les graphismes de la Playstation 1).
	{% endapply %}
{% endblock %}